<html>
<head>
    <link href="css/videocall.css" rel="stylesheet" type="text/css">
    <script src="https://static.opentok.com/v2/js/opentok.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div id="videos">
    <div id="subscriber"></div>
    <div id="publisher">
        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/15380350_692655467575365_3378634786975599198_n.jpg?oh=6c5487c07e51b697562d24d450347b51&oe=59B076AB">
    </div>
</div>
<script>
    var peer_id = '<%= peer_id %>';
</script>
<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap/js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="libs/socket.io-client/dist/socket.io.js"></script>
<script type="text/javascript" src="js/videocall.js"></script>
</body>
</html>